body {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/img/back1.gif); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.des{
	margin-top: 100px;
    height: 85vh;
}

.round{
	border-radius: 50%;
	max-width: 300px;
}

#left { text-align: left; }
#right { text-align: right;}

.header {
    position: relative;
    top: 0%;
    height: 20%;
    }
    /*Header CSS*/
    img#ttl {
    position: relative;
    top:50%;
    height: 50%;
    left: 0px;
    }
    img#se {
    position: relative;
    top:60%;
    height:30%;
    vertical-align:right;
    margin-right: 2%;

}

h3 { 
    color: greenyellow; 
}

h5 { 
    color: red;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 19, 19);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: lightblue;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: transparent;}

/*Scrolling*/



