body {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/img/back.gif); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.des{
	margin-top: 100px;
    height: 85vh;
}

.round{
	border-radius: 50%;
	max-width: 300px;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: blue;
}
a:hover {
    color: red;
}
